.dashBoard_Container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 1.5rem 2rem;
  position: fixed;
  background: rgba(255, 255, 255, 0.737);
  border-bottom: 1.5px solid rgb(211, 211, 211);
  backdrop-filter: blur(5px);
  z-index: 1000;
}

.logoDiv {
  margin-left: 5rem;
}

.LogoName {
  margin-left: 8px;
  font-size: 20px;
  font-weight: bold;
}

.logoDiv {
  display: flex;
  align-items: center;
  justify-content: center;
}

.NavbarUl {
  display: flex;
  align-items: center;
}

.navList {
  margin: 0 60px;
  list-style-type: none;
  font-size: 17px;
}

.NavbarBtn {

  margin-right: 7rem;
}

a {
  text-decoration: none;
  color: black;
}

.btnNormal {
  margin: 0 0 0 20px;
  padding: 15px 40px 15px 20px;
  border-radius: 10px;
  cursor: pointer;
  border: none;
  background-color: black;
  font-size: 15px;
}

.btnlogIn{
  margin: 0 0 0 20px;
  padding: 15px 40px 15px 20px;
  border-radius: 10px;
  border: none;
  background-color: rgb(237, 235, 235);
  font-size: 15px;
}

.btnNormal:hover {
  transition: 0.3s;
  background-color: rgb(47, 47, 47);
}


.logInIcon{
  position: absolute;
  font-size: 20px;
  color: black;
  padding: 0 0 0 5px;
  top: 14px;
}


.logOutIcon {
  position: absolute;
  font-size: 18px;
  color: white;
  padding: 0 0 0 5px;
  top: 15px;
}

.hamBurgerIcon{
  position: absolute;
  visibility: hidden;
}


/* Responsive */


@media screen and (max-width: 768px) {
  .btnNormal {
    padding: 10px 35px 10px 15px;
    font-size: 11px;
  }
  
  .btnlogIn{
    padding: 10px 35px 10px 15px;
    font-size: 11px;
  }

  .logInIcon{
    margin-top: -5px;
    font-size: 14px;
  }

  .logOutIcon{
    margin-top: -5px;
    font-size: 14px;
  }
  .logoDiv{
    margin: 0;
  }
  .NavbarBtn{
    margin-right: 60px;
  }
  
}

@media screen and (max-width: 465px){

  .hamBurgerIcon{
    position: absolute;
    right: 100px;
    font-size: 20px;
    visibility: visible;
  }

  .btnNormal {
    position: absolute;
    margin: 6rem 0 0 -5rem; 
  }
  
  .btnlogIn{
    position: absolute;
    margin: 3rem 0 0 -7.2rem; 
  }
  
  .logInIcon{
    margin-top: -29px;
  }

  .logOutIcon{
   margin: -28.8px 5px 0 2px;
  }
}